.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.item {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px;
}
.item:active {
  box-shadow: 1px 1px;
}
